.selected {
  font-weight: bold;
  color: var(--hover-color);
}
.user img {
  max-width: 70px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid var(--hover-color);
}
.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.btnHolder {
  text-align: center;
  margin-top: 5px;
}
.btnHolder button {
  padding: 5px 10px;
  border: 1px solid var(--hover-color);
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
  transition: 0.3s all;
  font-weight: bold;
  font-size: 14px;
  width: 75px;
}

.btnHolder button:hover,
.btnHolder button:focus {
  background-color: transparent;
  color: var(--main-txt-color);
}
.pagination {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}
.pagination span {
  margin-right: 5px;
  cursor: pointer;
}
.pagination span:last-child{
  margin-right: 0;
}
.user {
  text-align: center;
}
.user h3{
  max-width: 175px;
}
.user p {
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  text-overflow: ellipsis; /* Многоточие */
  max-width: 185px;
  margin: 0 auto;
  font-size: 14px;
  opacity: 0.7;
}
.info {
  margin-top: 5px;
}
