
.formControl.error input,
.formControl.error textarea{
    border-color: #BD1E2C;
    transition: .3s all;
    border-width: 2px;
}

.formControl.error span{
    color:#BD1E2C;
}
.formSummaryError{
    border:2px solid #BD1E2C;
}
