* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
textarea{
  resize:none
}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
:root {
	--main-bg-color: #f1f1f1;
	--secondary-bg-color: #427aa1;
  --main-txt-color: #2c3d55;
  --content-bg:#fff;
	--hover-color: #427aa1;
}
body {
  font-family: "Arial", sans-serif;
  background-color:var(--main-bg-color);
  min-height: 100vh;
  overflow-x: hidden;
  color:var(--main-txt-color);
  padding-bottom: 10px;
}
li{
    list-style: none;
}
.inner {
  display: grid;
  grid-template-areas: 
  "hdr hdr"
  "nv cnt";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  max-width: 1200px;
    margin: 0 auto;
}

.app-content{
  padding: 20px;
  grid-area: cnt;
  border-radius: 3px;
  background-color: var(--content-bg);
  color:var(--main-txt-color);
}